/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.main-background {
    background: url('/images/ecailles.png');
}

.nav-bar-bg {
    background: #071162;
}

.solaris-navbar-logo {
    padding-left: 50px;


}
/* Home page styles
-------------------------------------------------- */

.info-box-container {
    padding: 20px 0 10px 0;
}

.homepage-info-box {
    border: 0px solid grey;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px #7f8be3;
    -moz-box-shadow: 0px 1px 2px #7f8be3;
    box-shadow: 0px 1px 2px #7f8be3;
    background: white;
}


.homepage-info-box h4 {
    padding: 10px 0;
}

.homepage-info-box p {
    padding: 20px 0;
    font-size: 1.2em;
}



#main-table-block {
    max-width: 60%;
    margin: auto;
}

table {
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
    
}

.card {
    border-radius: 4px;
    border: 0px solid grey;
    -webkit-box-shadow: 0px 1px 2px #7f8be3;
    -moz-box-shadow: 0px 1px 2px #7f8be3;
    box-shadow: 0px 1px 2px #7f8be3;
}

.main-table-header {
    background: #0a1992;
    color: #f7f7ff;
    font-size: 1.15em;
}





/* Block page styles
-------------------------------------------------- */

.details-table-width {
    max-width: 50%;
    margin: auto;
}


.transaction-table-width {
    max-width: 60%;
    margin: auto;
}


/* Transaction page styles
-------------------------------------------------- */





/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 13px;
}
@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
