<nav class="navbar navbar-expand-lg nav-bar-bg navbar-dark">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="solaris-navbar-logo" src="images/logo-white.png" /></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar" aria-controls="top-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="top-navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-search nav-bar-icons"></i>Explorer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-list nav-bar-icons"></i>Top 100</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-info-circle nav-bar-icons"></i>API</a>
            </li>
        </ul>
        <ul class="social animated navbar-nav social-nav-bar" data-animate="fadeInUp" data-delay="0.5s">
            <li class="hvr-hang"><a href="https://solarisplatform.com"><em class="fas fa-globe"></em></a></li>
            <li class="hvr-hang"><a href="https://twitter.com/SolarisCoin"><em class="fab fa-twitter"></em></a></li>
            <li class="hvr-hang"><a href="https://t.me/solariscoin"><em class="fab fa-telegram-plane"></em></a></li>
            <li class="hvr-hang"><a href="https://discordapp.com/invite/wMcqapP"><em class="fab fa-discord"></em></a></li>
            <li class="hvr-hang"><a href="https://www.reddit.com/r/solarisxlr/"><em class="fab fa-reddit-alien"></em></a></li>
            <li class="hvr-hang"><a href="https://bitcointalk.org/index.php?topic=1831629.0"><em class="fab fa-bitcoin"></em></a></li>
            <li class="hvr-hang"><a href="https://medium.com/@@solarisxlr"><em class="fab fa-medium-m"></em></a></li>
            <li class="hvr-hang"><a href="https://github.com/SolarisPlatform"><em class="fab fa-github"></em></a></li>
        </ul>
    </div>
</nav>