
@{
    ViewData["Title"] = "API Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2 mb-2 collapse clipboard-success">
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            <span class="align-middle">
                <i class="fas fa-check-circle fa-2x mr-2"></i>
            </span>
            <span class="align-middle">
                The API endpoint has been copied to clipboard.
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col mt-2">
        <div class="card">
            <div class="card-body">
                <h4 class="title-bottom-border mb-2">
                    API
                </h4>
                <div class="row rows">
                    <div class="col-6">
                        <span class="lead">getaddress</span>
                        <span class="badge badge-primary d-none d-md-inline">api/getaddress/</span>
                        <p>Returns information for given address.</p>
                    </div>
                    <div class="col-6">
                        <code>api/getaddress/XaPKW2C9g4UCxSSQXbK9TTjbmXgpx2gwZM</code>
                        <i class="ml-2 fas fa-copy cursor-pointer clipboard" title="Copy to clipboard" data-clipboard-text="todo"></i>
                    </div>
                </div>
                <div class="row rows">
                    <div class="col-6">
                        <span class="lead">getbalance</span>
                        <span class="badge badge-primary d-none d-md-inline">api/getbalance/</span>
                        <p>Returns current balance of given address.</p>
                    </div>
                    <div class="col-6">
                        <code>api/getbalance/XaPKW2C9g4UCxSSQXbK9TTjbmXgpx2gwZM</code>
                        <i class="ml-2 fas fa-copy cursor-pointer clipboard" title="Copy to clipboard" data-clipboard-text="todo"></i>
                    </div>
                </div>
                <div class="row rows">
                    <div class="col-6">
                        <span class="lead">getlasttxs</span>
                        <span class="badge badge-primary d-none d-md-inline">api/getlasttxs/[address]/count/min</span>
                        <p>Returns last [count] transactions greater than [min]</p>
                    </div>
                    <div class="col-6">
                        <code>api/getlasttxs/XaPKW2C9g4UCxSSQXbK9TTjbmXgpx2gwZM/100/1</code>
                        <i class="ml-2 fas fa-copy cursor-pointer clipboard" title="Copy to clipboard" data-clipboard-text="todo"></i>
                    </div>
                </div>
                <div class="row rows">
                    <div class="col-6">
                        <span class="lead">getblock</span>
                        <span class="badge badge-primary d-none d-md-inline">api/getblock?hash=[hash]</span>
                        <p>Returns information about the block with the given hash.</p>
                    </div>
                    <div class="col-6">
                        <code>api/getblock?hash=3ae44db970654a765a8dfcacadcdb2e4c8c32c43bd72a56ff8f3b944dcbd64e8</code>
                        <i class="ml-2 fas fa-copy cursor-pointer clipboard" title="Copy to clipboard" data-clipboard-text="todo"></i>
                    </div>
                </div>
                <div class="row rows">
                    <div class="col-6">
                        <span class="lead">getblockhash</span>
                        <span class="badge badge-primary d-none d-md-inline">api/getblockhash?index=[index]</span>
                        <p>Returns the hash of the block at a given height, where index 0 is the genesis block.</p>
                    </div>
                    <div class="col-6">
                        <code>api/getblockhash?index=1</code>
                        <i class="ml-2 fas fa-copy cursor-pointer clipboard" title="Copy to clipboard" data-clipboard-text="todo"></i>
                    </div>
                </div>
                <div class="row rows">
                    <div class="col-6">
                        <span class="lead">getdifficulty</span>
                        <span class="badge badge-primary d-none d-md-inline">api/getdifficulty</span>
                        <p>Returns the current difficulty.</p>
                    </div>
                    <div class="col-6">
                        <code>api/getdifficulty</code>
                        <i class="ml-2 fas fa-copy cursor-pointer clipboard" title="Copy to clipboard" data-clipboard-text="todo"></i>
                    </div>
                </div>
                <div class="row rows">
                    <div class="col-6">
                        <span class="lead">getmoneysupply</span>
                        <span class="badge badge-primary d-none d-md-inline">api/getmoneysupply</span>
                        <p>Returns current money supply.</p>
                    </div>
                    <div class="col-6">
                        <code>api/getmoneysupply</code>
                        <i class="ml-2 fas fa-copy cursor-pointer clipboard" title="Copy to clipboard" data-clipboard-text="todo"></i>
                    </div>
                </div>
                <div class="row rows">
                    <div class="col-6">
                        <span class="lead">getrawtransaction</span>
                        <span class="badge badge-primary d-none d-md-inline">api/getrawtransaction?txId=[txId]</span>
                        <p>Returns raw transaction representation for given transaction id.</p>
                    </div>
                    <div class="col-6">
                        <code>api/getrawtransaction?txId=836cf908bcf0693f5e9cb7d61a45d4441a787b86993305399231bb052f3a7bd1</code>
                        <i class="ml-2 fas fa-copy cursor-pointer clipboard" title="Copy to clipboard" data-clipboard-text="todo"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

